{{- $img := .Page.Resources.GetMatch .Destination -}}
<div class="mx-auto w-fit">
    
    {{/*  SVGs do not need to be resized and therefore can be skipped  */}}
    {{ if in .Destination ".svg" }}
    {{/*  <img class="object-scale-down mx-auto object-center p-1 sm:px-10 sm:pt-10 sm:pb-4 sm:object-cover" src="{{ .Destination }}" alt="{{ .Text }}" title="{{ .Title }}">  */}}
        <img class="object-scale-down mx-auto object-center" src="{{ .Destination }}" alt="{{ .Text }}" title="{{ .Title }}">
    {{ else }}
    
    {{- if and (not $img) .Page.File -}}
            {{ $path := path.Join .Page.File.Dir .Destination }}
            {{- $img = resources.Get $path -}}
        {{- end -}}
        
        {{/*  resize image and convert to webp */}}
        {{$img := $img.Process "webp" }}

        {{/*  loading the image data directly into the page reduces the overall page request, speeding up render times  */}}
        <img class="object-scale-down mx-auto object-center" src="data:{{ $img.MediaType }};base64,{{ $img.Content | base64Encode }}" alt="{{ .Text }}" title="{{ .Title }}">
    {{ end }}
</div>

    