{{ define "main" }}
{{ $imageHero := resources.Get "images/header.png" }}
{{ $pngHero := $imageHero.Process "webp" }}

<span class="block h-4 bg-black"></span>

<section class="h-[40vh] bg-cover bg-center saturate-200 hue-rotate-5" style="background-image: url('{{ $pngHero.RelPermalink }}'); "></section> 

<span class="block h-4 bg-black"></span>

{{/*  WELCOME  */}}
<section class="max-w-7xl mx-auto py-12">
    
    {{ partial "image-row" (dict "left" "images/OKAY-LEFT.png" "middle" "images/OKAY-MIDDLE.png" "right" "images/OKAY-RIGHT.png") }}

    <span class="block h-8"></span>

    <div class="mx-auto">
        <h1 class="md:text-left text-6xl">Welcome.</h1>
        <span class="block h-8"></span>
        <p class="max-w-xl mx-auto text-center">Welcome to my official website. I go by <span class="font-bold">OKAY TK</span>. Maybe you don’t know me yet, and that’s alright—this space is all about connecting. Here, you’ll find my music, videos, mixes, and event dates, all kept simple and to the point. Thanks for stopping by, and I hope you’ll get to know a bit more about me.</p>
    </div>

</section>


{{/*  ABOUT  */}}
<section id="about" class="max-w-7xl mx-auto py-12 md:px-0 px-2 block">
    {{ partial "image-row" (dict "left" "images/OKAY-WINDOW-LEFT.png" "middle" "images/OKAY-WINDOW-MIDDLE.png" "right" "images/OKAY-TK-WINDOW-RIGHT.png") }}

    <span class="block h-8"></span>

    <div class="mx-auto">
        <h1 class="text-left text-6xl">About.</h1>
        <span class="block h-8"></span>
        {{/*  TOSO: the width should be contained in the parent and not the <p> tag</p>  */}}
        <p class="max-w-xl mx-auto text-center"><span class="font-bold">OKAY TK</span> is an award-winning DJ from Halifax, Nova Scotia, known amongst friends and peers for his personality, skill, and versatility. With multiple competition wins, memorable DJ routines, and national stage appearances, TK has connected with listeners everywhere—from award shows and special events aired on national television and commercial radio to live tours, streaming, and sharing the stage alongside some of your favourite artists.</p>
        <p class="max-w-xl mx-auto text-center"><span class="font-bold">OKAY TK</span> brings the right energy to every set, making him an ideal choice for any event looking to leave a lasting impression.</p>
    </div>
</section>

{{/*  Events  */}}
<section id="events" class="max-w-7xl mx-auto py-12 md:px-0 px-2 block">
    {{ partial "image-row" (dict "left" "images/okay-dj-new-left.png" "middle" "images/okay-tk-djing-new-middle.png" "right" "images/okay-tk-djing-right-side.png") }}

    <span class="block h-8"></span>

    <div class="mx-auto">
        <h1 class="text-left text-6xl">Events.</h1>
        <span class="block h-8"></span>
        
        {{ partial "events" . }}
    </div>

</section>

{{/*  Mixes  */}}

<section id="mixes" class="max-w-7xl mx-auto py-12 md:px-0 px-2 block">
    {{ partial "image-row" (dict "left" "images/AUSTINLEFT.png" "middle" "images/AUSTINMIDDLE.png" "right" "images/AUSTINRIGHT.png") }}

    <span class="block h-8"></span>
        <h1 class="text-left text-6xl">Mixes.</h1>
        <span class="block h-8"></span>
            <div id="mixtapes" class="mx-auto">
                <div id="cloudcast-list" class="space-y-6 flex flex-wrap gap-x-4 items-center justify-center">
                    <!-- JavaScript will populate entries here -->
                </div>
            </div>  
    </div>

</section>

{{/*  Contact  */}}

<section id="contact" class="max-w-7xl mx-auto py-12 md:px-0 px-2 block">
    {{ partial "image-row" (dict "left" "images/STRANGELEFT.png" "middle" "images/STRANGEMIDDLE.png" "right" "images/STRANGERIGHT.png") }}

    <span class="block h-8"></span>

    <div class="mx-auto">
        <h1 class="text-left text-6xl">Contact.</h1>
        <span class="block h-8"></span>
            <div id="cloudcast-list" class="space-y-6 flex flex-wrap gap-x-4 items-center">
                <!-- JavaScript will populate entries here -->
            </div>
    </div>

</section>

{{ partial "contact.html" }}




{{ end }}