{{ define "main" }}    

    {{ $imageHero := resources.Get "images/tk-hero.jpg" }}
    {{ $pngHero := $imageHero.Process "webp" }}
    <section class="h-[75vh] bg-cover bg-center saturate-200 hue-rotate-5" style="background-image: url('{{ $pngHero.RelPermalink }}'); "></section>    
    

    {{/*  horizontal black divider  */}}
    <div class="bg-black h-3"></div>

    {{/*  About Section  */}}

    
    {{ $imageThumbs := resources.Get "images/tk-thumbs-up.png" }}
    {{ $pngThumb := $imageThumbs.Process "webp" }}
    <div class="mx-auto" style="background-image: url('{{ $pngThumb.RelPermalink }}'); background-position: 20px 10px; background-repeat: no-repeat">

    <section class="max-w-lg mx-auto px-8 py-8">
        <h1 class="text-4xl font-bold text-center">Welcome to OKAY TK</h1>
        <p class="text-shadow-white text-lg text-center mt-4">
            <span class="font-bold">OKAY TK</span> is an award-winning DJ from Halifax, Nova Scotia, known amongst friends and peers for his personality, skill, and versatility. 
        </p>

        <p class="text-shadow-white text-lg text-center mt-4">
            With multiple competition wins, memorable DJ routines, and national stage appearances, TK has connected with listeners everywhere—from award shows and special events aired on national television and commercial radio to live tours, streaming, and sharing the stage alongside some of your favourite artists. 
        </p>

        <p class="text-shadow-white text-lg text-center mt-4">
            <span class="font-bold">OKAY TK</span> brings the right energy to every set, making him an ideal choice for any event looking to leave a lasting impression.
        </p>

    </div>
{{ end }}