<div class="flex items-center gap-x-4 overflow-hidden">
    {{ $imageLeft := resources.Get .left }}
    {{ $webpLeft := $imageLeft.Process "webp" }}
    {{ $altLeft := $imageLeft.Name | strings.TrimSuffix (path.Ext $imageLeft.Name) | strings.ReplaceRE "[-_]" " " | strings.Title }}
    <img src="{{ $webpLeft.RelPermalink }}" alt="{{ $altLeft }}" class="hidden md:block w-1/3" loading="lazy">

    {{ $imageMiddle := resources.Get .middle }}
    {{ $webpMiddle := $imageMiddle.Process "webp" }}
    {{ $altMiddle := $imageMiddle.Name | strings.TrimSuffix (path.Ext $imageMiddle.Name) | strings.ReplaceRE "[-_]" " " | strings.Title }}
    <img src="{{ $webpMiddle.RelPermalink }}" alt="{{ $altMiddle }}" class="w-full md:w-1/3" loading="lazy">

    {{ $imageRight := resources.Get .right }}
    {{ $webpRight := $imageRight.Process "webp" }}
    {{ $altRight := $imageRight.Name | strings.TrimSuffix (path.Ext $imageRight.Name) | strings.ReplaceRE "[-_]" " " | strings.Title }}
    <img src="{{ $webpRight.RelPermalink }}" alt="{{ $altRight }}" class="hidden md:block w-1/3" loading="lazy">
</div>